:root {
    --vp-layout-max-width: 1600px;
}

.VPDoc.has-aside .content-container {
    max-width: 1024px !important;
}

html:not(.dark) {
    --vp-c-text-dark-3: #ccc;
    --vp-code-block-bg: rgba(238, 238, 238, 0.5);
    --vp-code-line-highlight-color: rgba(238, 238, 238, 1);
}